.app__about {
	flex: 1;
	width: 100%;
	flex-direction: column;
}

.app__profiles {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 2rem;
}

.app__profile_item {
	width: 250px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin: 2rem;
	box-shadow: 0 0 0 1px#413f3f1a;
	border-radius: 14px;
	padding: 1rem;
	background-color: #e5e5e5;

	img {
		width: 100%;
		height: 170px;
		border-radius: 15px;
		object-fit: cover;
	}

	h2 {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	p {
		overflow-y: auto;
		height: 150px;
		padding: 5px;
		text-align: center;
	}

	@media screen and (min-width: 2000px) {
		width: 370px;
		margin: 2rem 4rem;

		img {
			height: 320px;
		}
	}

	::-webkit-scrollbar {
		width: 0.3em;
	}

	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 15px;
	}
}
