/* From uiverse.io by @victoryamaykin */
.switch {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 34px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background-image: linear-gradient(315deg, #ef410a 15%, #a23d16);
	background-image: linear-gradient(
		121.57deg,
		#e7e6e6 18.77%,
		rgba(255, 255, 255, 0.66) 60.15%
	);
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 34px;
}

.slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50%;
	background: repeating-radial-gradient(
			circle at 50% 50%,
			rgba(200, 200, 200, 0.2) 0%,
			rgba(200, 200, 200, 0.2) 2%,
			transparent 2%,
			transparent 3%,
			rgba(200, 200, 200, 0.2) 3%,
			transparent 3%
		),
		conic-gradient(
			#3e4258 0%,
			silver 10%,
			#3e4258 35%,
			silver 45%,
			#3e4258 60%,
			silver 70%,
			#3e4258 80%,
			silver 95%,
			#3e4258 100%
		);
}

input:checked + .slider {
	background-color: #0e6eb8;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(85px);
}

/*------ ADDED CSS ---------*/
.slider:after {
	content: 'English';
	color: black;
	display: block;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
	content: 'Spanish';
}

/*--------- END --------*/
